[Unit]
Description=loanui
After=network.target

[Service]
ExecStart=/home/loanapp/loanui/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
